<div class="container-fluid">
    <div class="p-3">
        <ng-container *ngIf="mobileQuery.matches">
            <div class="row">
                <div class="col-sm-2 border border-5 rounded-start text-center max-content shadow-lg">
                    <h2>Filters:</h2>
                    <div class="row">
                        <div class="col" *ngFor="let filterItem of filters">
                            <button [ngClass]="filterItem.selected ? 'btn btn-secondary mb-2' : 'btn mb-2'" (click)="addToSelectedFilterList(filterItem)">
                                <img [src]="filterItem.image">
                            </button>
                        </div>
                    </div> 
                    <hr>
                    <button type="button" class="btn btn-primary mb-3" (click)="getTeams()">Get Teams</button>
                </div>
                <div class="col-sm-10">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div *ngFor="let card of cardList" style="width:9rem">
                                    <div class="card character-card mb-3" (click)="addToSelectedCharacterList(card)" [ngClass]="card.selected ? 'card-selected' : ''">
                                        <img [src]="card.photo" class="card-img-top" alt="...">
                                        <div class="card-body" style="display: table;">
                                            <h5 class="card-title text-center" [ngClass]="card.selected ? 'card-selected' : ''">{{ card.name }}</h5>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="cardList.length == 0">
                                    <h2>No characters were found.</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="!mobileQuery.matches">
            <div class="row">
                <div class="col-sm-10">
                    <div class="card">
                        <div class="card-body character-list">
                            <div class="row">
                                <div *ngFor="let card of cardList" style="width:9rem">
                                    <div class="card character-card mb-3" 
                                    (click)="addToSelectedCharacterList(card)" 
                                    [ngClass]="card.selected ? 'card-selected' : ''">
                                        <img [src]="card.photo" class="card-img-top" alt="...">
                                        <div class="card-body" style="display: table;">
                                            <h5 class="card-title text-center" 
                                            [ngClass]="card.selected ? 'card-selected' : ''">{{ card.name }}</h5>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="cardList.length == 0">
                                    <h2>No characters were found.</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 border border-5 rounded-start text-center max-content shadow-lg fixed">
                    <h2>Filters:</h2>
                    <div class="row">
                        <div class="col" *ngFor="let filterItem of filters">
                            <button [ngClass]="filterItem.selected ? 'btn btn-secondary mb-2' : 'btn mb-2'" (click)="addToSelectedFilterList(filterItem)">
                                <img [src]="filterItem.image">
                            </button>
                        </div>
                    </div> 
                    <hr>
                    <button type="button" class="btn btn-primary mb-3" (click)="getTeams()">Get Teams</button>
                </div>
            </div>
        </ng-container>
    </div>
</div>