.card-selected{
    background-color: rgba(67,74,85,255);
    color: #fff;
}

.max-content {
    height: max-content;
}

.character-card{
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

.character-card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.filter-selected{
    background-color: rgb(255, 220, 164);
}

.fixed{
    position: -webkit-sticky; /* Safari & IE */
    position: sticky;
    top: 0;
}