<div class="row p-4">
    <div class="col-sm-6" *ngFor="let card of cardList" style="width:9rem">
        <div class="card mb-4" (click)="addToSelectedList(card)" [ngClass]="card.selected ? 'card-selected' : ''">
            <img [src]="card.photo" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" [ngClass]="card.selected ? 'card-selected' : ''">{{ card.name }}</h5>
            </div>
        </div>
    </div>
</div>
<div class="align-items-center">
    <button class="btn btn-primary" (click)="getTeams()">Get Teams!1</button>
</div>