.menu-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.is-mobile .fixed-toolbar{
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

.sidenav-container{
    flex: 1;
}

.is-mobile .sidenav-container{
    flex: 1 0 auto;
}

.sidenav-toggle-icon{
    transform: scale(1.1);
}

.mat-list-item-text{
    font-size: 16px;
}

.loader-container{
    position: fixed;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.8;
    z-index: 99;
}